*
{
    box-sizing: border-box;
}
body
{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #323232;
    font-size: 13px;
    direction: ltr;
}
p
 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a
{
    text-decoration: none;
    background-color: transparent;
}
/* *********************start style navbar ************** */
.nav_sec
{
    background-color: #ff5a00;
    line-height: 3em;
}
.nav_sec .container nav .container-fluid .collapse ul .custom_li a
{
    padding: 0px 20px;
    height: 44px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.nav_sec .container nav .container-fluid .collapse ul .custom_li a:hover
{
    color: rgb(244, 244, 235);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.nav_sec .container nav .container-fluid .collapse ul .login
{
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.nav_sec .container nav .container-fluid .collapse ul .login:hover
{
    background-color: #FF9459;
}
.navbar .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}
.navbar-toggler:hover {
    text-decoration: none;
}

/******************** end style navbar ******************** */


/*?????????????????? but your style here ?????????????????*/
.home_sec
{
    /* width: 100%;
    height: 800px; */
    background-image:url('/E-commerce-project/Images/pexels-adrien-olichon-2387793.jpg');
    background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-size: 100% 100%;
}
.container{
    border-radius: 10px;
}
#span1{
    width: 98%;
    background-color: white;
    /* color: chartreuse; */
    border: 1px;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
    margin-left: 1%;
    margin-right: 1%;
}
button{
    float: right;
    width: 6%;
    padding: 1%;
    border: 1px;
    border-radius: 10px;
}
#inp1{
    float: right;
    /* height: 100%; */
    width: 22%;
    padding: 1%;
    border: 1px;
    border-radius: 10px;
}
.card:hover{
    transform: scale3d(1.1,1.1,1.1);
    box-shadow: 1px 1px 15px rgb(107, 107, 109);
}

/* ******************* start style footer ****************** */
.footer 
{
    color: #d8d8d8;
    background-color: #262626;
    position: relative;
}
.follow-i, .footerlinks, .popular-links 
{
    border-bottom: 1px solid #3b3b3b;
}
.footerlinks 
{
    display: flex;
    justify-content: space-between;
}
.footerlinks a:first-child 
{
    padding-left: 0;
}
.footerlinks a 
{
    color: #999;
    padding: 0 12.4px;
    transition: color .2s ease-out;
}
.popular-links 
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.row 
{
    margin-left: -10px;
    margin-right: -10px;
}
.popular-links p 
{
    color: #999;
    font-size: 14px;
}
p 
{
    margin: 0 0 10px;
}
.popular-links a {
    color: #fff!important;
    width: auto;
    display: block;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-l-0, .p-x-0 {
    padding-left: 0!important;
}
.p-t-md {
    padding-top: 1.5rem!important;
}
.follow-i a {
    display: inline-block;
}
.custom_icons
{
    justify-content: space-evenly;
}
.siteindex {
    margin: 0 -10px;
}
.siteindex button.btn-block {
    background-color: #262626;
    text-align: left;
    color: #ffeded;
    text-transform: uppercase;
    border-radius: 0;
}
.siteindex button.btn-block i {
    opacity: .5;
    right: 13px;
    position: absolute;
}
.collapse {
    display: none;
}
.siteindex a {
    color: #969696;
    display: block;
    padding: 10px 0 0 25px;
    text-align: left;
}
.splitter {
    border-bottom: 0.5px solid hsla(0,0%,100%,.2);
    margin-left: 13px;
    margin-right: 13px;
}
/* ********************** end style footer **********************/



@media (max-width:575.999px) {
    .card {
        width: 80%;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom:30px ;
        /* display: inline; */
    }
    #span1{
        margin-top: 10%;
    }
    #inp1{
        width: 80%;
        padding: 3%;
            border: 1px;
            border-radius: 10px;
    }
    button {
        width: 20%;
        padding: 3%;
        border: 1px;
        border-radius: 10px;
    }
}