*
{
    box-sizing: border-box;
}
body
{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #323232;
    font-size: 13px;
    direction: ltr;
}
p
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a
{
    text-decoration: none;
    background-color: transparent;
}
<<<<<<< HEAD
.primary-text {
    color: rgb(255, 90, 0);
}
.green-text{
    color: rgb(0, 163, 70);
}
.primary-button {
    background-color: rgb(255, 90, 0);
    color: rgb(255, 255, 255);
    line-height: 1.25;
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    padding: 12px 20px !important;
}
=======
>>>>>>> 9838523dd3bf439bf37a9e38e3b613709bfc946e
/*  ************** start nav style ********** */
.custom_ul_nav
{
    margin-left: auto;
}
nav
{
    display: block;
}

.custom_nav
{
    background-color: #ff5a00;
}
.custom_nav nav #navbarNav ul li a
{
    padding: 4px 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.custom_nav nav #navbarNav ul li a:hover
{
    color: rgb(244, 244, 235);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.custom_nav nav #navbarNav ul li .login
{
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.custom_nav nav #navbarNav ul li .login:hover
{
    background-color: #FF9459;
}
.navbar .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}
.navbar-toggler:hover {
    text-decoration: none;
}
<<<<<<< HEAD
#divone {
    display: none;
    position: fixed;
    /* background-color: rgb(134, 129, 125); */
}

#lione:hover #divone {
    background-color: #ff5a00;
    display: flex;
    opacity: 1;
    flex-direction: column;
    margin-top: 5px;
}
/******************  end nav style *********** */
.container {
    border-radius: 10px;
    /* position: relative; */
    /* overflow: hidden; */
}

/* .card {
    position: absolute;
    width: 200px;
    height: 300px;
} */
.card-body {
    /* text-decoration: none; */
    color: black;
}

#span1 {
    width: 98%;
    background-color: white;
    /* color: chartreuse; */
    border: 1px;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
    margin-left: 1%;
    margin-right: 1%;
}
#span3 {
    width: 20%;
    background-color: rgb(248, 152, 117);
    color: white;
    border: 1px;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    display: none;
}
#span3:active{
    display: block;
}

#Most_Selling,
#Combo_Meals,
#Value_Meals,
#Groovy_Offers,
#Beef_Burger_Sandwiches,
#Chicken_Burgers,
#Hot_Dog {
    width: 100%;
    background-color: white;
    /* color: chartreuse; */
    border: 1px;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
    margin-left: 1%;
    margin-right: 1%;
}

#proceedcheckout {
    width: 90%;
    background-color: rgb(148, 218, 44);
    border: 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: x-large;
    margin-left: 5%;
    margin-bottom: 2%;
    color: white;
}

#proceedcheckout:hover {
    background-color: green;
}

button[type="search"] {
    float: right;
    width: 6%;
    padding: 1%;
    border: 1px;
    border-radius: 10px;
}

#inp1 {
    float: right;
    /* height: 100%; */
    width: 22%;
    padding: 1%;
    border: 1px;
    border-radius: 10px;
}

#inp2 {
    /* float: right; */
    /* height: 100%; */
    width: 75%;
    padding: 4%;
    border: 1px;
    margin: 1.3%;
    /* border-radius: 5px; */
}

.row .card:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 1px 1px 15px rgb(107, 107, 109);
}

.checked {
    color: #ff5a00;
}

.spans {
    float: left;
    color: black;
    opacity: 0.8;
}

.spans:hover {
    color: #ff5a00;
    text-decoration: underline;
}

.category1 {
    position: absolute;
}

/* .filterDiv{
    float: left;
    display: none;

}
.show {
    display: block;
} */
/* **************** Regester Section ***************/
.register_sec{
    padding-top: 62px;
}
.layout-container{
    margin: 0px auto 20px;
    max-width: 1000px;
    background: rgb(255, 255, 255);
    height: 100%;
    box-shadow: rgb(171 169 171) 0px 0px 5px 0px;
    overflow: auto;
    min-height: calc(100vh - 250px);
}
.register-container{
    width: 50%;
    margin: 0px auto;
}
.googleBtn{
    width: 100%;
    border-radius: 2px;
    border: 1px solid rgb(224, 224, 224);
    background-color: transparent;
}
.googleBtn img{
    height: 34px;
}

.facebookBtn {
    width: 100%;
    border-radius: 4px;
    background-color: rgb(87, 119, 185);
    color: white;
    padding: 5px 0px !important;
    border: 1px solid rgb(224, 224, 224);
}
.line{
    height: 1px;
    width: 100%;
    background-color: rgb(224, 224, 224);
    position: relative;
}
.line span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.password input{
    border: 0px;
    width: calc(100% - 43px);
}
.radio-item{
    flex: 1 1 auto;
}
input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0px;
}
.radio-item:first-of-type label {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radio-item label {
    cursor: pointer;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
}
.radio-item:last-of-type label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

input[type="radio"]:checked ~ label{
    background-color: #dad3d3;
    border: 1px solid #dad3d3;
}
.birthdate{
    position: relative;
}
.input-container{
    position: relative;
    display: inline-block;
    width: 100%;
}
.birthdate .icon svg{
    position: absolute;
    top: 6px;
    right: 20px;
    width: 15px;
    height: 28px;
}

.checkboxContainer label {
    color: rgb(50, 50, 50);
    cursor: pointer;
    display: table;
    width: 400px;
}
.checkboxContainer label input[type="checkbox"] {
    display: none;
}

.checkboxContainer label .span {
    display: inline-block;
    font-size: 14px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 2px;
    background: url(../images/filter-checkbox.svg) 0px 0px / 18px no-repeat;
}

.login-btn{
    width: 35%;  
}

/********* Start Home ************/
.banner 
{  
    background-image: url(../images/4.png);
    background-attachment: fixed;
    height: 75vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.custom_home .logo_div a > img
{
    max-width: 162px;
}
.homeCard:hover {
    transform: scale3d(1.1,1.1,1.1);
    box-shadow: 1px 1px 15px rgb(107 107 109);
}

/* **************** start about section *************** */
.slider_one
{
    padding-top: 80px;
    padding-bottom: 40px;
}
.slider_one .container .first
{
    animation: in_down 4s  ease;
    -webkit-animation: in_down 4s  ease;
}
.slider_one .container .first .content
{
    padding-top: 20px;
    padding-bottom: 40px;
}
.slider_one .container .second 
{
    padding-top: 40px;
    animation: in_right 4s  ease;
    -webkit-animation: in_right 4s  ease;
}
.slider_one .container .second .icon .custom ,
.slider_one .container .third .icon .custom,
.slider_one .container .third .icon .custom
{
    font-size: 3.7rem;
}
.slider_one .container .third
{
    padding-top: 40px;
    animation: in_right 4s  ease;
    -webkit-animation: in_right 4s  ease;
}

/* ***********************contact us style ********************** */
.inner-page {
    box-shadow: 0 0 5px 0 rgb(171 169 171);
    background: #fff;
    padding: 0 20px 0 !important;
    margin-bottom: 20px;
    position: relative;
    top: 67px;
}
.container
{
    margin-right: auto;
    margin-left: auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
b {
    color: #212121;
    font-weight: normal !important;
    font-family: 'open_sanssemibold';
    font-size: 22px;
}
.bold {
    font-family: 'open_sansbold' !important
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.text-727272 {
    color: #727272;
}
.custom-icons {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.m-b-lg {
    margin-bottom: 3rem !important
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group-justified > .btn-group .btn {
    width: 100%;
}
.btn-group > .btn:first-child {
    margin-left: 0
}
.btn-group-justified > .btn-group .btn:hover
{
    border-bottom: 2px solid #ff5a00;
}
.most-tab-group button.active, .most-tab-group button:hover {
    border-bottom: 2px solid #ff5a00;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
.most-tab-group button {
    background: none;
    padding: 5px;
    border: none;
}
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
.b-radius-0 {
    border-radius: 0;
}
.m-b-md {
    margin-bottom: 1.5rem !important
}
.custom_right .custom_txt
{
    box-shadow: 0 0 5px 0 rgb(171 169 171);
    padding: 10px;
    background-color: rgba(229, 223, 223, 0.901);
}
.text-646464 {
    color: #646464;
    font-size: 17px;
}
.greentext
{
    color:#00A53C;
}
.green {
    background-color: #00A53C;
    color: #fff;
}
.contact_footer
{
    position: relative;
    top: 75px;
}

/* *************** end contact style **************** */


/**************** start footer style ***************** */
 .footer
 {
    color: #999;
    position:absolute;
    /* bottom:0px; */
    background-color: #262626;
    width:100%;
 }
.follow_icon , .details_footer
{
    border-bottom: 1px solid #b9b3b3b8; 
    padding-bottom: 25px;
}
.custom_a 
{
    color: rgb(255,255,255);
}
.details_footer .three
{
    text-align: -webkit-center;
}
=======
/******************  end nav style *********** */
/* 
*************** start footer style ***************** */
 .footer
 {
    color: #999;
    position:absolute;
    bottom:0px;
    background-color: #262626;
    width:100%;
 }
.follow_icon , .details_footer
{
    border-bottom: 1px solid #b9b3b3b8; 
    padding-bottom: 25px;
}
.custom_a 
{
    color: rgb(255,255,255);
}
.details_footer .three
{
    text-align: -webkit-center;
}
>>>>>>> 9838523dd3bf439bf37a9e38e3b613709bfc946e

@media (max-width:575.999px) {
    .card {
        width: 80%;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 30px;
        /* display: inline; */
    }

    .category1 {
        display: none;
    }

    .category2 {
        width: 450px;
    }

    #inp2 {
        width: 100%;
    }

    #span1 {
        margin-top: 10%;
    }

    #inp1 {
        width: 80%;
        padding: 3%;
        border: 1px;
        border-radius: 10px;
    }

    #inp2 {
        width: 73%;
        padding: 5%;
        border: 1px;
        /* border-radius: 10px; */
    }

    button[type="search"] {
        width: 20%;
        padding: 3%;
        border: 1px;
        border-radius: 10px;
    }
}