*
{
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #323232;
    font-size: 13px;
    direction: ltr;
}
p
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a
{
    text-decoration: none;
    background-color: transparent;
}
.primary-text {
    color: rgb(255, 90, 0);
}
.green-text{
    color: rgb(0, 163, 70);
}
.primary-button {
    background-color: rgb(255, 90, 0);
    color: rgb(255, 255, 255);
    line-height: 1.25;
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    padding: 12px 20px !important;
}
/* *********************start style navbar ************** */
.nav_sec
{
    background-color: #ff5a00;
    line-height: 3em;
}
.nav_sec .container nav .container-fluid .collapse ul .custom_li a
{
    padding: 0px 20px;
    height: 44px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.nav_sec .container nav .container-fluid .collapse ul .custom_li a:hover
{
    color: rgb(244, 244, 235);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.nav_sec .container nav .container-fluid .collapse ul .login
{
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.nav_sec .container nav .container-fluid .collapse ul .login:hover
{
    background-color: #FF9459;
}
.navbar .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}
.navbar-toggler:hover {
    text-decoration: none;
}
/***************** all restaurant ********************** */
.home_sec
{
    width: 100%;    
    background-image:url('/E-commerce-project/Images/pexels-adrien-olichon-2387793.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}
.container{
    border-radius: 10px;
}
#span1{
    width: 98%;
    background-color: white;
    /* color: chartreuse; */
    border: 1px;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
    margin-left: 1%;
    margin-right: 1%;
}
#search_btn
{
    float: right;
    width: 6%;
    padding: 1%;
    border: 1px;
    border-radius: 10px;
}
#inp1{
    float: right;
    /* height: 100%; */
    width: 22%;
    padding: 1%;
    border: 1px;
    border-radius: 10px;
}
.card:hover{
    transform: scale3d(1.1,1.1,1.1);
    box-shadow: 1px 1px 15px rgb(107, 107, 109);
}

/******************** end style navbar ******************** */
.banner 
{  
    background-image: url(../images/4.png);
    background-attachment: fixed;
    height: 75vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.custom_home .logo_div a > img
{
    max-width: 162px;
}

/* **************** start about section *************** */
.slider_one
{
    padding-top: 80px;
    padding-bottom: 40px;
}
.slider_one .container .first
{
    animation: in_down 4s  ease;
    -webkit-animation: in_down 4s  ease;
}
.slider_one .container .first .content
{
    padding-top: 20px;
    padding-bottom: 40px;
}
.slider_one .container .second 
{
    padding-top: 40px;
    animation: in_right 4s  ease;
    -webkit-animation: in_right 4s  ease;
}
.slider_one .container .second .icon .custom ,
.slider_one .container .third .icon .custom,
.slider_one .container .third .icon .custom
{
    font-size: 3.7rem;
}
.slider_one .container .third
{
    padding-top: 40px;
    animation: in_right 4s  ease;
    -webkit-animation: in_right 4s  ease;
}

/**************** Register Section *********************/
.register_sec{
    padding-top: 62px;
}
.layout-container{
    margin: 0px auto 20px;
    max-width: 1000px;
    background: rgb(255, 255, 255);
    height: 100%;
    box-shadow: rgb(171 169 171) 0px 0px 5px 0px;
    overflow: auto;
    min-height: calc(100vh - 250px);
}
.register-container{
    width: 50%;
    margin: 0px auto;
}
.googleBtn{
    width: 100%;
    border-radius: 2px;
    border: 1px solid rgb(224, 224, 224);
    background-color: transparent;
}
.googleBtn img{
    height: 34px;
}

.facebookBtn {
    width: 100%;
    border-radius: 4px;
    background-color: rgb(87, 119, 185);
    color: white;
    padding: 5px 0px !important;
    border: 1px solid rgb(224, 224, 224);
}
.line{
    height: 1px;
    width: 100%;
    background-color: rgb(224, 224, 224);
    position: relative;
}
.line span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.password input{
    border: 0px;
    width: calc(100% - 43px);
}
.radio-item{
    flex: 1 1 auto;
}
input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0px;
}
.radio-item:first-of-type label {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radio-item label {
    cursor: pointer;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
}
.radio-item:last-of-type label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.birthdate{
    position: relative;
}
.input-container{
    position: relative;
    display: inline-block;
    width: 100%;
}
.birthdate .icon svg{
    position: absolute;
    top: 6px;
    right: 20px;
    width: 15px;
    height: 28px;
}

.checkboxContainer label {
    color: rgb(50, 50, 50);
    cursor: pointer;
    display: table;
    width: 400px;
}
.checkboxContainer label input[type="checkbox"] {
    display: none;
}

.checkboxContainer label .span {
    display: inline-block;
    font-size: 14px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 2px;
    background: url(../images/filter-checkbox.svg) 0px 0px / 18px no-repeat;
}

.login-btn{
    width: 35%;  
}

/* ************************ end about section****************** */

/* ******************* start Brand Psage ****************** */
.brandPage_sec{
    padding-top: 0px;
}
.layout-container{
    margin: 0px auto 20px;
    max-width: 1000px;
    background: rgb(255, 255, 255);
    height: 100%;
    box-shadow: rgb(171 169 171) 0px 0px 5px 0px;
    overflow: auto;
    min-height: calc(100vh - 250px);
}

.brand-header{
    min-height: 300px;
    background: url(../images/brandpage-bg.webp) center top / cover no-repeat;
    margin: 0px -16px;
    padding: 0px 10px;
}
.brand-box{
    background-color: rgba(25, 25, 25, 0.5);
    border-radius: 10px;
}
.brand-logo{
    width: 130px;
    border-radius: 5px;
}
.cuisine-string {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}
.brand-description{
    background-color: rgb(255, 255, 255);
    border-top: 7px solid rgb(255, 90, 0);
    margin-top: -30px;
    box-shadow: rgb(153 153 153) -5px -7px 12px -5px, rgb(153 153 153) 4px -6px 12px -5px;
}
.add-to-cart{
   width: 75%;
   padding: 4px;
   background-color: transparent;
   border: 1px solid rgb(255, 90, 0); 
   color: rgb(255, 90, 0);
   border-radius: 5px;
}
.add-to-cart:hover{
    border-color: #0a58ca; 
    color: #0a58ca;
}
/* ************************ end Prand Page ****************** */

/* ******************* start style footer ****************** */
.footer 
{
    color: #d8d8d8;
    background-color: #262626;
    position: relative;
}
.follow-i, .footerlinks, .popular-links 
{
    border-bottom: 1px solid #3b3b3b;
}
.footerlinks 
{
    display: flex;
    justify-content: space-between;
}
.footerlinks a:first-child 
{
    padding-left: 0;
}
.footerlinks a 
{
    color: #999;
    padding: 0 12.4px;
    transition: color .2s ease-out;
}
.popular-links 
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.row 
{
    margin-left: -10px;
    margin-right: -10px;
}
.popular-links p 
{
    color: #999;
    font-size: 14px;
}
p 
{
    margin: 0 0 10px;
}
.popular-links a {
    color: #fff!important;
    width: auto;
    display: block;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-l-0, .p-x-0 {
    padding-left: 0!important;
}
.p-t-md {
    padding-top: 1.5rem!important;
}
.follow-i a {
    display: inline-block;
}
.custom_icons
{
    justify-content: space-evenly;
}
.siteindex {
    margin: 0 -10px;
}
.siteindex button.btn-block {
    background-color: #262626;
    text-align: left;
    color: #ffeded;
    text-transform: uppercase;
    border-radius: 0;
}
.siteindex button.btn-block i {
    opacity: .5;
    right: 13px;
    position: absolute;
}
.collapse {
    display: none;
}
.siteindex a {
    color: #969696;
    display: block;
    padding: 10px 0 0 25px;
    text-align: left;
}
.splitter {
    border-bottom: 0.5px solid hsla(0,0%,100%,.2);
    margin-left: 13px;
    margin-right: 13px;
}
/* ********************** end style footer **********************/

/* ***********************contact us style ********************** */
.inner-page {
    box-shadow: 0 0 5px 0 rgb(171 169 171);
    background: #fff;
    padding: 0 20px 0 !important;
    margin-bottom: 20px;
    position: relative;
    top: 67px;
}
.container
{
    margin-right: auto;
    margin-left: auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
b {
    color: #212121;
    font-weight: normal !important;
    font-family: 'open_sanssemibold';
    font-size: 22px;
}
.bold {
    font-family: 'open_sansbold' !important
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.text-727272 {
    color: #727272;
}
.custom-icons {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.m-b-lg {
    margin-bottom: 3rem !important
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group-justified > .btn-group .btn {
    width: 100%;
}
.btn-group > .btn:first-child {
    margin-left: 0
}
.btn-group-justified > .btn-group .btn:hover
{
    border-bottom: 2px solid #ff5a00;
}
.most-tab-group button.active, .most-tab-group button:hover {
    border-bottom: 2px solid #ff5a00;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
.most-tab-group button {
    background: none;
    padding: 5px;
    border: none;
}
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
.b-radius-0 {
    border-radius: 0;
}
.m-b-md {
    margin-bottom: 1.5rem !important
}
.custom_right .custom_txt
{
    box-shadow: 0 0 5px 0 rgb(171 169 171);
    padding: 10px;
    background-color: rgba(229, 223, 223, 0.901);
}
.text-646464 {
    color: #646464;
    font-size: 17px;
}
.greentext
{
    color:#00A53C;
}
.green {
    background-color: #00A53C;
    color: #fff;
}
.contact_footer
{
    position: relative;
    top: 75px;
}
/* *************** end contact style **************** */

.custom_home .custom_category > div span img
{
    width: 230px;
    height: 200px;
}

@media (max-width:575.999px) {
    .custom_card {
        width: 80%;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom:30px ;
        /* display: inline; */
    }
    #span1{
        margin-top: 10%;
    }
    #inp1{
        width: 80%;
        padding: 3%;
            border: 1px;
            border-radius: 10px;
    }
    #search_btn {
        width: 20%;
        padding: 3%;
        border: 1px;
        border-radius: 10px;
    }
}
